body {
    font-family: "sans-serif";
    margin-top: 150px;
}

img {
    width: 100%;
}

.launch-date {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #666666 !important;
    text-align: center;
}

.launch-statement {
    font-family: 'Dosis', sans-serif;
    color: #000000 !important;
    text-align: center;
}
